/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    font-family: "Open Sans", sans-serif;
}

/* Layout */
header {
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
}

.top-main {
    background-color: #B4D0E7;
    width: 100%;
    height: 1000px;
    padding-top: 200px;
}

.intro {
    /* debug */
    background-color: #0061FF;
    margin: 0 auto;
    width: 1500px;
    height: 115%;
}