/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
/* Common */
body {
    font-family: "Open Sans", sans-serif;
}

/* Layout */

/* Header */
header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    line-height: 50px;
}

.header-top {
    justify-content: space-between;
}

.header-links {
    gap: 1rem;
}

/* Main */

/* Top main */
.top-main {
    background-color: #B4D0E7;
    width: 100%;
    padding: 200px 0;
}

.intro {
    background-color: #0061FF;
    margin: 0 auto;
    width: 60%;
}

[class^="col-"] {
    /* debug */
    border: 2px solid black;
    margin-bottom: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.business-plan {
    background-color: #0061FF;
    margin-top: 250px;
}

.partner {
    background-color: #0061FF;
    margin-top: 150px;
}

/* debug */
.card {
    border: 2px solid black;
}

.dropbox-business {
    background-color: #0061FF;
    margin-top: 150px;
}

.discover {
    margin-top: 5rem;
}

.team-members {
    background-color: #B4D0E7;
    margin-top: 150px;
    width: 100%;
}

.square {
    border: 2px solid black;
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
    height: 0;
}

.information {
    background-color: #B4D0E7;
    width: 100%;
    height: 200px;
}

.faq {
    background-color: #0061FF;
    margin: 150px auto;
}

footer {
    background-color: #000000;
    height: 400px;
    width: 100%;
}

.col-20 {
    background-color: #B4D0E7;
    width: calc(100% / 5);
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
}